.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.jfx-progress-bar > .bar {
    -fx-background-color: linear-gradient(to bottom left, #23B4C0, #0BCB89);
}
.jfx-progress-bar > .track {
    -fx-background-color: transparent;
}